// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  background: #E5E5E5 url('/assets/images/background.jpg') no-repeat fixed bottom right;
  padding-top: 3rem;
}

.table td {
  vertical-align: middle;

  a {
    vertical-align: middle;
  }
}

$rarity-common: rgb(214, 203, 162);
$rarity-rare: rgb(67, 144, 232);
$rarity-epic: rgb(217, 43, 229);

.rarity-common {
  color: darken($rarity-common, 20%);
}

.rarity-rare {
  color: $rarity-rare;
}

.rarity-epic {
  color: $rarity-epic;
}

.card-rarity-common {
  border: 2px solid transparentize($rarity-common, .75);
}

.card-rarity-rare {
  border: 2px solid transparentize($rarity-rare, .75);
}

.card-rarity-epic {
  border: 2px solid transparentize($rarity-epic, .75);
}


// GitHub corner

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
